body {
  font-family: 'Open Sans', sans-serif;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}
.oswald-light {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}
.purple {
  background-color: #660066;
  color: #fff;
}
.gray {
  background-color: #EBEBEB;
}

.text-purple {
  color: #660066;
}

.contenedor-img {
  position: relative;
}
.text-overlay {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.semi-bold {
  font-weight: 600;
}
.interlineado {
  line-height: 40px;
}
html {
  scroll-behavior: smooth;
}


/*Esto ya fue tonteando*/
/*CONTROLADORES*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;

  background-size: 100%, 100%;
  border-radius: 50%;

  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #660066;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #660066;
}
/*INDICADORES*/


ol.carousel-indicators li,
ol.carousel-indicators li.active {
  float: left;
  width: 33%;
  height: 10px;
  margin: 5px;
  border-radius: 0;
  border: 0;
  background: #660066;
}
